*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}


body{

    width:100%;
    height:100vh;

    background:
    radial-gradient(circle at center,
    #17333a,
    #050909);

    display:flex;
    justify-content:center;
    align-items:center;

    color:white;

    overflow:hidden;

}



.lab{

    text-align:center;

    width:90%;
    max-width:700px;

}



h1{

    font-size:42px;

    letter-spacing:3px;

    color:#65ffda;

    text-shadow:
    0 0 10px #65ffda,
    0 0 30px #00ffe1;

    margin-bottom:15px;

}



.subtitle{

    color:#b8ffff;

    font-size:18px;

    margin-bottom:40px;

}



.scanner{

    width:260px;

    height:260px;

    margin:auto;

    border:3px solid #65ffda;

    border-radius:20px;

    position:relative;

    overflow:hidden;

    background:
    rgba(0,255,220,0.05);

    box-shadow:

    0 0 20px #00ffe1,

    inset 0 0 30px #00ffe1;

}



.food{

    font-size:100px;

    position:absolute;

    top:50%;

    left:50%;

    transform:
    translate(-50%,-50%);

    animation:pulse 2s infinite;

}



.scan-line{

    position:absolute;

    width:100%;

    height:5px;

    background:#65ffda;

    box-shadow:

    0 0 20px #65ffda;

    top:0;

    animation:scan 3s infinite linear;

}



button{

    margin-top:40px;

    padding:15px 35px;

    font-size:18px;

    border:none;

    border-radius:30px;

    background:#65ffda;

    color:#001414;

    cursor:pointer;

    font-weight:bold;

    box-shadow:

    0 0 20px #65ffda;

}



button:hover{

    transform:scale(1.05);

}



#result{

    margin-top:30px;

    font-size:22px;

    color:#fff;

}



@keyframes scan{

    from{

        top:0;

    }

    to{

        top:100%;

    }

}



@keyframes pulse{

    0%,100%{

        transform:
        translate(-50%,-50%)
        scale(1);

    }


    50%{

        transform:
        translate(-50%,-50%)
        scale(1.15);

    }

}
.food-selection{

    margin-top:50px;

}


.food-selection h2{

    color:#65ffda;

    letter-spacing:3px;

    margin-bottom:30px;

    text-shadow:
    0 0 15px #65ffda;

}



.foods{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(180px,1fr));

    gap:25px;

}



.food-card{

    background:

    rgba(0,255,220,0.08);

    border:2px solid #65ffda;

    border-radius:20px;

    padding:15px;

    cursor:pointer;

    transition:0.4s;

    box-shadow:

    0 0 15px rgba(101,255,218,0.4);

}



.food-card img{

    width:100%;

    height:140px;

    object-fit:cover;

    border-radius:15px;

}



.food-card h3{

    margin-top:15px;

    color:white;

    font-size:18px;

}



.food-card:hover{

    transform:

    translateY(-10px)
    scale(1.05);


    box-shadow:

    0 0 30px #65ffda;

}



.food-card:hover img{

    filter:

    brightness(1.2);

}
/* =========================
   SCANNER SCREEN
========================= */

.scanner-screen{

    position:fixed;

    inset:0;

    background:#02090b;

    display:none;

    justify-content:center;

    align-items:center;

    z-index:9999;

}


.scanner-box{

    width:520px;

    max-width:90%;

    background:#07171c;

    border:2px solid #65ffda;

    border-radius:25px;

    padding:30px;

    text-align:center;

    box-shadow:
    0 0 30px rgba(101,255,218,.4);

    position:relative;

    overflow:hidden;

}


.scanner-box img{

    width:100%;

    height:300px;

    object-fit:cover;

    border-radius:15px;

}


.laser{

    position:absolute;

    left:0;

    width:100%;

    height:4px;

    background:#65ffda;

    box-shadow:
    0 0 20px #65ffda;

    top:50px;

    opacity:0;

}


.progress{

    width:100%;

    height:14px;

    background:#14343b;

    border-radius:20px;

    margin-top:25px;

    overflow:hidden;

}


#progressBar{

    width:0%;

    height:100%;

    background:#65ffda;

    transition:width .15s linear;

}


#progressText{

    margin-top:15px;

    font-size:22px;

    color:#65ffda;

}


#scanTitle{

    margin-top:20px;

    color:white;

}
